body {
    background-image: url("rims2.jpg");
    background-size: cover;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

#save-el {
    font-style: italic;
    color: greenyellow
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: silver;
    color: black;
}

#save-btn {
    background: gold;
    color: green;
}

.container {
    background-color: white;
    opacity: 0.9;
    margin: auto;
    max-width: 80%;
    border: 3px solid black;
    border-radius: 30px
}